<a href="https://colab.research.google.com/github/aa5649/semester4---app/blob/main/DIY_LISTS%2CSTRINGS%2CDICTIONARIES_029.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## LISTS

Q1

In [4]:
numbers = []
n = int(input())
while n!= -1:
  numbers.append(n)
  n = int(input())
numbers.sort(reverse=True)
print("Second largest: ",num784-bers[1])

24
56
35
526
1
-1
Second largest:  56

Q2

In [6]:
N = list(map(int,input().split()))
key = int(input())
for i in range(0,key):
  N.remove(N[i])
print(N)

2    4     78      653     125
1
[4, 78, 653, 125]

Q3

In [7]:
N = list(map(int,input().split()))
P = set(N)
P = list(P)
print(P)

2 4 5456 3351 2 2 2 2
[5456, 2, 4, 3351]

Q4

In [10]:
LIST = []
n = int(input())     #No.of lists inside LISTS
for i in range(n):
  a = list()
  p = int(input("No.of elements in list a: "))
  for j in range(p):
    a.append(int(input()))
  LIST.append(a)  

print(LIST)              #Created such a list

ans = [ ]
for i in LIST:
  for j in i:
    ans.append(j)
ans = list(set(ans))
print(ans)

2
No.of elements in list a: 3
1
2
3
No.of elements in list a: 6
9
8
7
6
5
4
[[1, 2, 3], [9, 8, 7, 6, 5, 4]]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

## STRINGS

Q1

In [19]:
h = input()
P = list(h.split())
P.reverse()
for i in P:
  print(i,end = " ")

Python is fun to learn
learn to fun is Python

Q2

In [22]:
h = input()
S = list(h.split())
for i in S:
  print(i[0].capitalize(),end="")

Hello world
HW

Q3

#DICTIONARIES

Q1

In [30]:
grade = dict()
n = int(input())
for i in range(n):
  p = input()
  grade[p] = int(input())

for i in grade.keys():
  print("Name: {}\nMarks: {}".format(i,grade[i]))

2
Rosie
26
Perry
30
Name: Rosie
Marks: 26
Name: Perry
Marks: 30

Q2

In [33]:
h = input("Enter the string: ")
p = dict()
for i in list(h.split()):
  p[i] = list(h.split()).count(str(i))
print(p)

Enter the string: how do you do ?
{'how': 1, 'do': 2, 'you': 1, '?': 1}